[2014-05-13 19:38] nkmathew opened #1 "Globbing relies on a trailing path separator character"
Session name completion doesn't seem to work when the path set in `g:prosession_dir` doesn't have a trailing path separator.
This **"~\\vimfiles\\sessions\\"** works while **"~\\vimfiles\\sessions"**  doesn't.
Changing line 68 to:

[code]

seems to solve it.(Disclaimer: very little Vimscript skills)

[2014-05-13 20:13] #1 closed, assigned to nobody

[2015-01-12 04:28] briceburg opened #3 "default session"
Hi -- I really enjoy your plugin. Having sessions in a central location is important -- Do you think it's worthwhile to introduce an option to allow a "default" session to autostart (one that is not based off the current working directory where vim is instantiated from without arguments)?

Opening anoter issue re: session naming

[2015-01-12 04:29] briceburg opened #4 "session naming"
I like the plugin -- especially keeping session files in a central location. The sha scheme is a bit confusing though -- do you think it's possible to adopt the file naming convention used by `undodir` ? it's a bit more readable and verbose.

Also does calling :Obsession pause the session recording/auto-updating as per tpotes plugin?

Thanks much!

[2015-01-12 04:49] dhruvasagar commented on #3
Hi,

The problem with a 'default' session is that it then requires mentioning of a session name explicitly in case we need it. The only way a 'default' session could work would be that if we find that there is no session that already exists for the current directory I could launch the default session instead of creating a new one, but even in this case this breaks the flow since the most likely us

[2015-01-12 04:52] dhruvasagar commented on #4
Hi,

Well the plugin ensures that the naming scheme does not come in the way of the user. The completion ensures we complete only the names and not the rest of the bit. So I am not sure if we really need the naming convention used by `undodir`.

However I would surely not mind switching the naming convention per say. Originally I wanted to keep the naming convention configurable but didn't really

[2015-01-12 06:36] briceburg commented on #3
@dhruvasagar roger that. I think about it a bit differently -- I want to use the default session / last state (most times), and to explicitly start [better named] sessions for particular projects as needed, vs. on the fly.

Sometimes I'll enter vim from very odd directories :) -- the current behavior will create a lot of session files, that I thought could be cleaned up w/ a flag to allow default

[2015-01-12 07:39] dhruvasagar commented on #3
Sure, I get it, i'll work on adding a flag to enable 'default' sessions, in which case if a session for the current directory doesn't already exist it will just load the `default` session. Mind you, this applies also to the first time you launch vim, it will create this `default` session instead of a new one.

[2015-01-12 18:02] briceburg commented on #3
This behavior would be great in my case -- as it would keep autocompletion of sessions to a minimum (and hopefully only to the default session and explicit ones I have created).

I want to understand how to create a new session that gets autoloaded when executing vim from the "session directory" under this behavior. Would it work like:

[code]

[code]

vim should be opened with ~/projects/project/

[2015-01-12 19:43] #3 closed

[2015-01-12 20:03] dhruvasagar commented on #3
Kindly have a look and let me know. It works as desired as per my tests. Raise a flag / issue if you find something wrong.

[2015-02-02 10:27] dhruvasagar commented on #4
https://github.com/dhruvasagar/vim-prosession/pull/5 kinda improves upon session naming & usage (completion) for this use case. So makes things a lot better I guess. Kindly confirm if this is good enough for now.

[2015-02-02 18:32] briceburg commented on #4
@dhruvasagar this is great. Thanks much!

[2015-02-02 18:32] #4 closed

[2015-02-03 19:43] jwhitley opened #6 "Prosession error on path containing a space"
**Repro steps**

1.  Setup vim-prosession to be enabled via `let g:prosession_on_startup = 1`
2.  Start vim in path where a path component has a space, e.g. `/Users/myuser/foo bar`

**Actual result**
An error occurs:
[code]

**Expected result**

Prosession starts Obsession as expected.

**Notes**

This is a filename quoting problem.  PR incoming momentarily.

[2015-02-04 02:21] #6 closed

[2015-02-05 17:39] dhruvasagar commented on #4
Hi,

I have released v0.5.0, it isn't backwards compatible so you might require updating the old session files if you want to keep using them.

I have now switched to using undofile style format for the file names.

[2015-02-10 13:56] lccro opened #10 "Cannot open "/Users/leo/.vim/session/.lms.vim" for writing"
My .vim directory is a symbolic link to one of my "dotfiles" subdirectories, so it's probably the reason why I see this on vim startup:

Error detected while processing function <SNR>44_Prosession:
line   22:
Vim(mksession):E190: Cannot open "/Users/leo/.vim/session/.lms.vim" for writing
Press ENTER or type command to continue

[2015-02-10 14:14] dhruvasagar commented on #10
What's the path !? I too have symlinked .vim to one of my dotfiles subdirectories so that shouldn't be the problem, it's more likely to do with whether or not the path exists.

Make sure the path exists (the session folder).

[2015-02-10 14:17] lccro commented on #10
So that's peculiar... It does exist:

[code]

[2015-02-10 14:21] dhruvasagar commented on #10
So what's the path your running this on !? The error ending in '.lms.vim' looks a bit weird.

Also you could try invoking `:echo undofile(getcwd())` after you launch vim and tell me what that outputs ? In v0.5.0 I have changed the naming convention and have gone with a undofile style naming for the files.

[2015-02-10 14:24] dhruvasagar commented on #10
Ah, it's looking for `session` directory, while you seem to have a `sessions` directory...Either you should override `g:prosession_dir`  or rename the directory to `session`

[2015-02-10 16:23] lccro commented on #10
Doh, that was it. Just created the singular version and that did the trick.
Thanks anyway!

[2015-02-10 16:23] #10 closed

[2015-02-18 05:36] m42e opened #11 "Multiple files for a single directory"
It seems that sometimes the Plugin writes the session to a path similar to:

```%proj%someproj``` but sometimes
```%proj%someproj%``` will be used.

[2015-02-18 05:48] dhruvasagar commented on #11
Can you give me an example ?
It should always be something like `%path%to%dir%name.vim` so not too sure about the extra `%` you mention or where it appears, it could be because of an additional `/` at the end of the path name I suppose.

[2015-02-18 05:49] dhruvasagar commented on #11
Did you do this by using `:Prosession` with a new directory (for which a session doesn't exist already) !?

[2015-02-18 05:51] m42e commented on #11
Oh, I missed the .vim at the end in my first post.

If I'm starting vim within a folder it creates the file without the extra ```%``` or ```/``` at the end. If I switch using Prosession it is added.

I'm currently using it on a Win64 with cygwin on it.

[2015-02-18 05:57] #11 closed

[2015-02-18 05:58] dhruvasagar commented on #11
It should now be consistent, kindly confirm.

[2015-02-18 06:01] m42e commented on #11
Thanks.

[2015-02-18 06:09] m42e commented on #11
Seems not to work:

[code]

[2015-02-18 06:12] m42e commented on #11
See #12

[2015-02-18 06:18] dhruvasagar commented on #11
Ah typo :/, I should add tests.

[2015-02-20 06:55] m42e opened #14 "Add possibility to take git branch into account"
It would be a great feature if it would be possible to take the branch of the directory into account.

So it will be easier to work in different branches.

A function like this should get you the current git branch.
[code]

[2015-02-20 07:54] dhruvasagar commented on #14
I have actually thought about this, but I think it's not needed.
Sessions work with buffers, and files on the filesystem. When you switch branches, the files on the file system are changed by git to represent those versions that are in the HEAD for that branch. So it doesn't impact the session flow much.

The only case is with files that aren't there in certain branches but are in some, which I gu

[2015-02-20 07:57] m42e commented on #14
But working in several branchen normally means working on different topics with a focus on some files in particular.

Just my 2 cent.

[2015-02-20 07:58] dhruvasagar commented on #14
Ok, it does make sense, i'll add it as an optional feature which we can enable.

[2015-02-20 08:01] m42e commented on #14
Great thanks.

[2015-02-20 14:41] dhruvasagar commented on #14
Let me know what you think.

[2015-02-23 05:49] m42e commented on #14
Please change the command for reading the branch to:
[code]
To avoid error messages in folders without a repository.

Rest works as expected.

[2015-02-23 05:50] dhruvasagar commented on #14
cool, will do!

[2015-02-23 06:07] #14 closed

[2015-02-23 06:08] dhruvasagar commented on #14
besides git, set to default for git.

[2015-07-09 10:49] nkmathew opened #18 "Prosession does not create the session files as indicated in the command line in Windows"
I can run it with this `Prosession cats` on startup and it'll name the session file **%Windows%system32.vim** which when auto-completed at a later time becomes **/Windows/system32**.

All supplied session names are ignored and a percentage-escaped version of the current working directory used.

[2015-07-09 11:49] dhruvasagar commented on #18
Hi, what's `cats` supposed to be ? As long as `cats` the argument to Procession is either an existing session or a valid path on the system it should work fine, if you want to just create named sessions, that's not something Prosession allows at the moment, you could very well just use `:Obsession` for that.

Kindly provide a slightly more detailed explanation of your expectation here, perhaps I c

[2015-07-09 14:38] nkmathew commented on #18
Yes, I want named sessions. Obsession could do the work I guess, I just don't like the way it litters project folders with the session files and also it's lack of completion.

I wanted something like:
+ cd to project folder
+ Run ```Prosession project-name```
+ Do stuff...
+ Run Prosession with different project name
+ Work on other project and so on

Such that the number of session files in ~/vim

[2015-07-09 14:45] dhruvasagar commented on #18
Prosession does support this already, but slightly differently.

* cd into project folder
* launch vim without any arguments -> Prosession starts a new session for the current project if one doesn't exist, if one does exist, it will continue recording for it.
* Do stuff...
* If you wanted to switch to another project for which a session was tracked by Prosession earlier, you can just type `:Proses

[2015-07-09 15:34] nkmathew commented on #18
That'll do. I've been using it for quite some time and never realized it worked that way. I used to create the session files manually in the session folder every time I did a new project.

If it's okay with you I'd like to present some feature requests:
+ Make it work with ```Prosession .```
+ Warn the user when the argument to the command does not point to a folder(e.g in my case)
+  Add a **Pros

[2015-07-09 16:01] dhruvasagar commented on #18
The first 2 actually make sense, I am not entirely sure what ProsessionDelete command should be doing though.

[2015-07-09 16:05] nkmathew commented on #18
Deleting the session variables from VIm? Cause reading percentage signs is hard?

[2015-07-09 16:08] dhruvasagar commented on #18
@nkmathew btw with Prosession ideally you would never have to actually look up the session files, that's one of the goals of Prosession. The completion with `Prosession` command shouldn't have any `%` signs.

And you can already just call `:Obsession!` to end the current session (and delete the session file), so I feel that isn't something that's required from Prosesion's perspective.

[2015-07-09 16:16] nkmathew commented on #18
It's all good then. Thank for all the help

[2015-07-09 16:22] dhruvasagar commented on #18
Np, will work towards the 2 features you requested, will link to this issue as I release them, thanks.

[2016-03-23 16:05] blueyed opened #19 "Use session based on repo root (not cwd())"
This could make use of https://github.com/dbakker/vim-projectroot to get the current repo root.

The idea is to only have a session per project, not for each of it's subdirs.

[2016-03-23 16:20] blueyed opened #20 "g:prosession_on_startup should not be triggered with `vim -t foo`"
It uses `argc()`, which is `0` in that case.

(`-t foo` goes to tag `foo`)

[2016-03-24 03:05] dhruvasagar commented on #20
Perhaps, but there is no elegant, platform agnostic way to detect such cli options from within vimscript. I am not sure how this would behave if you were to specify a filename just to avoid prosession to kick in, but I'd suggest to try that.

[2016-03-24 03:11] dhruvasagar commented on #19
I understand where you are coming from, however I think this might be complexity we can avoid. How often do you find yourself in a situation where you are in a subdirectory of a project ?

[2016-04-06 08:14] nkmathew commented on #18
Hey @dhruvasagar, it's been almost a year. Did you get too tied up?

[2016-04-06 13:50] dhruvasagar commented on #18
Hey, looks like I have been. I'll have a look again. #2 should be easy, #1 can be tricky.

[2016-04-06 13:51] dhruvasagar commented on #19
Hey, I am going to close this at the moment, If there is adequate demand for it I can add this feature. But at the moment I feel it's complexity that we can avoid since it's a rare situation.

[2016-04-06 13:51] #19 closed

[2016-04-06 19:54] malteneuss opened #23 "Invoking ":Prosession . " crashes neovim"
I can't get Prosession to work with neovim.  It doesn't seem to save or restore anything and when i invoke it manually with e.g. ":Prosession . " it crashes with the following error message:
[code]

[2016-04-06 20:43] adarsh commented on #23
I get the same errors in regular terminal Vim, version 7.4 in iTerm.

[2016-04-06 20:49] dhruvasagar commented on #23
`Procession .` Isn't valid usage. You have to provide either path or a project / session name used previously.

[2016-04-06 21:15] dhruvasagar commented on #23
btw, there was a typo in a recent update, kindly update the plugin and try.

[2016-04-06 23:05] adarsh commented on #23
Works now for me. Nice, thank you!

[2016-04-14 12:48] #23 closed

[2016-05-11 18:39] nikil opened #24 "Command to overwrite existing session file"
First - thanks for writing this great plugin!  It's awesome.

I had a feature request.  Sometimes I have an existing "prosession" for a particular directory, and I want to replace it with a brand new session (that I opened with another vim in the same directory).  To do this I need to find the corresponding session file and delete it which is a little cumbersome.

Perhaps you could add a "Prosessi

[2016-05-12 05:42] dhruvasagar commented on #24
Hi, you're welcome.

You can use `:Obsession!` to kill the current session, and you could use `:Obsession` again to start another.

[2016-06-07 12:13] mikeys opened #25 "New session creates X empty buffers (where X is number of buffers from previous session)"
1. Go to a project directory where you previously didn't have any vim session.
2. Type `vim` to start vim and create a session for this project
3. Quit vim (`:qall`), the session gets saved.
4. Go to a different directory where you previously didn't have any vim session
5. type `vim` to start vim and create a session for this project

As can be seen in the GIF below, after step 5 - three empty buf

[2016-06-08 14:21] dhruvasagar commented on #25
I am actually not able to reproduce this issue at all. Kindly do the following additionally to what you are doing already and share the gifcast. (btw what did you use to create this gif ?)
* What are you using for the buffer list that comes on top ? (vim plugin)
* Kindly execute `:ls` the second time, when you launch vim from the second directory without session.
* Kindly execute `:echo v:this_ses

[2016-06-08 15:32] mikeys commented on #25
@dhruvasagar never mind, you can close this. I was having `viminfo` set: 😃
`set viminfo^=%`

Perhaps you'd want to add this to a FAQ section? (definitely not a must though)

[2016-06-08 15:34] dhruvasagar commented on #25
Cool, i'll have a look at what side-effects may happen as a result of using `viminfo`, i'll add that to the README. Thanks.

[2016-06-08 15:34] #25 closed

[2016-10-06 14:20] tomleo opened #26 "prosession_default_session usage unclear"
I would like to set my default session to `~/Dropbox` however it looks like in the help page the default value for `prosession_default_session` is 0. Does that imply that `prosession_default_session` is a Boolean that takes either `0` or `1`?

Is there currently a way to define the location/path of my default session? The usage for this setting is unclear to me.

Thanks!

[2016-10-06 14:27] dhruvasagar commented on #26
Hi,

Kindly refer to the `:h prosession`.
The setting you're looking for is `g:prosession_dir`, that is where prosession saves / loads session files to / from.

[2016-10-06 14:27] #26 closed

[2016-10-06 14:28] #24 closed

[2016-10-06 14:29] dhruvasagar commented on #20
At the moment I am going to close this issue since it's not a pressing one and is hard to fix.

[2016-10-06 14:29] #20 closed

[2016-10-06 14:41] tomleo commented on #26
I guess I misunderstood what `default_session` meant. Is there a setting to define which session you want to use when starting vim?

Every time I start vim I type `:Prosession ~/Dropbox`, I thought `prosession_default_session` would define the default session to use when starting vim, not whether or not to use `'~/.vim/session/'` as the directory to store session files.

It seems redundant to both

[2016-10-06 14:44] dhruvasagar commented on #26
The idea of a 'default' session is that when you start vim in a directory which does not already have a session for, it will load the default session (when g:prosession_default_session is enabled).

If you want prosession to start the session for Dropbox folder, then you should just launch vim from that folder. `Prosession <dir/name>` is designed to switch to a different session if you started wit

[2016-10-06 14:46] dhruvasagar commented on #26
BTW the default session is literally named `default` for convenience. As of now there is no way to name this default session, although I don't really see the need for that. If you want to load a specific session you should just launch vim from within that directory.

[2016-10-06 14:52] tomleo commented on #26
I'm using gvim, so adding `-c "cd ~/Dropbox"` did the trick. Thanks for your help @dhruvasagar!

[2016-10-06 14:57] dhruvasagar commented on #26
You're welcome

[2016-12-01 16:59] TSFoster opened #28 "Tmux title wrong when folder has "." in it"
My tmux window name drops everything after the ".". I come across then when working in "~/.dotfiles" or ~/example.directory.name".

I think you have tried to fix it before with a146ea2, but it's not working for me. I tried fixing it myself but am not very used to VimL, so I wasn't able to do it without introducing a weird bug.

[2016-12-02 04:25] dhruvasagar commented on #28
Interesting I don't think I have noticed / experienced this myself or I may have overlooked it. I believe your PR fixes this ? Kindly close this if it does, I merged your PR.

Thanks for your contribution!

[2016-12-08 13:51] TSFoster commented on #28
No, my PR didn't fix it, it was just to customise the title. I'll have a look at this again.

[2016-12-08 15:43] #28 closed

[2017-01-04 09:02] nkmathew commented on #18
Should I give up on this?

[2017-01-04 09:24] dhruvasagar commented on #18
Hi, never give up :). Sorry for the delay, sometimes it's hard to keep track of 'pending' action items when there's too much to do.

The above referenced commit adds support for 1.

[2017-01-04 09:47] nkmathew commented on #18
Haha, thanks man. Been waiting for this for years ... literally

[2017-01-04 09:58] dhruvasagar commented on #18
The above commit reports an error if the argument supplied to `:Prosession` command is not an existing directory. Let me know if this is what you were looking for.

[2017-01-04 10:24] dhruvasagar commented on #18
Cool i'll close the issue for now then, let me know if there's anything else. And thanks for your patience :).

[2017-01-04 10:24] #18 closed

[2017-01-08 19:17] alex-shamshurin opened #31 "Does it support windows?"
I see my project dirs in ~/.vim/session. But when I want to switch to a project `:Prosession myproject` I got `Directory myproject does not exists`. How to solve it?

[2017-01-09 10:23] dhruvasagar commented on #31
Hi, I haven't extensively tested on windows but it should work. This error message was added very recently and is to indicate that `myproject` isn't an existing directory on the file system. This would happen if you tried to invoke the same command but a session doesn't yet exist for that.

Did you try using the autocompletion for the command ? Is `myproject` a valid directory by itself (full qual

[2017-01-09 21:56] alex-shamshurin commented on #31
Hmm, why it needs valid PATH instead of directory name? What do we want? Load session and sessions are user-space global and they are under session folder. Why we need the path? Path must be in session file itself,  I think.

[2017-01-10 07:00] dhruvasagar commented on #31
If you use the command completion, you can type directory names (without fully qualified path), it will complete them to the fully qualified paths if there already exists a session for them.

The command completion also completes actual file system paths for you, relevant when you want to choose a path for which you don't already have a session.

If you specify just a directory name by itself it's

[2017-01-10 13:07] alex-shamshurin commented on #31
Whatever I do path os  not found

[2017-01-11 00:18] dhruvasagar commented on #31
Ok, I have a windows machine, i'll try setup vim and test it out, I am sure, some API I use may be unix specific and may be causing this issue. I'll link to this issue if I push a fix.

[2017-01-24 19:53] astromac opened #32 "Error on startup"
I recently updated my plugins and started receiving the following error on startup. Disabling prosession or deleting the session files makes the errors go away on startup.

[code]

Using Neovim v0.2.0-480-g25427ae8

[2017-01-25 08:15] dhruvasagar commented on #32
Hi, this doesn't seem to be anything related to `vim-prosession`, perhaps something to do with some plugin / ftplugin that you may have removed recently, but left some stuff in session files somehow ?

After you remove the session file, and continue / start a new session do you get the error again ?

[2017-01-25 17:56] astromac commented on #32
Yes.

[2017-01-31 06:44] dhruvasagar commented on #32
Can you grep / ag / rg within your plugin directory for `LeaveWin`, `last_changedtick` and see where those exist ? Perhaps it's some plugin also doing something to sessions ?

[2017-01-31 16:00] astromac commented on #32
Did as you asked and both searches hit on https://github.com/Konfekt/FastFold plugin. Removing the plugin and deleting the prosession files results in no errors upon startup.

[2017-02-13 11:36] alex-shamshurin commented on #31
May better to search for project name without path? It's like any IDE do. Just loop through each session name in `session` and parse it for last part which is a project name. If there are more than one, ask user what to open.

[2017-02-13 11:38] alex-shamshurin opened #33 "Implement list of sessions"
Like bufferexplorer do and user can open needed project. Is it difficult?

[2017-02-13 13:36] dhruvasagar commented on #31
That doesn't work when there are multiple projects / directories with the same name. This happens a lot more often that you would think, and is in fact the reason for why we complete by complete paths and remove any scope of such ambiguity.

[2017-02-13 13:38] alex-shamshurin commented on #31
If there are many dirs with same name just ask user what project should be opened. It there is only one just open. Is that a problem?

[2017-02-13 13:48] dhruvasagar commented on #31
Well that approach requires more user intervention that is necessary...this way is just simpler, you dont have to type the full path anyways, because the completion completes it

in your case (I am guessing), it's probably more a question of some translation error between the path and  the session file name somehow, or maybe something to do with just session home. I am setting up vim on windows wi

[2017-02-13 13:49] dhruvasagar commented on #31
It might still take a day or more though

[2017-02-13 13:54] alex-shamshurin commented on #31
Under windows 10 bash competition works. But working with project names will be nice. I would help with it, but now I do now know vimL

[2017-02-13 13:56] dhruvasagar commented on #31
There is another request by someone to provide an interesting way to provide the completion, i will try to go that way, providing a source for unite.vim / ctrlp.vim for session file completion

[2017-02-13 13:58] alex-shamshurin commented on #31
Ok. but my  ideas are
1. Project lists window
2. Open by project's name
3. unite.vim / ctrlp.vim it's ok

[2017-02-13 14:47] dhruvasagar commented on #33
Ah it's you, I was yet to see this ticket. It's not difficult to achieve.

[2017-02-14 15:41] alex-shamshurin commented on #33
Would be nice to use it.

[2017-02-15 08:44] mhainfarecom opened #34 "closed buffers reapper"
Hi
After update of vim-prosession every time when I'll close buffer (used with airline:tabline extension) and quit vim it reappear once I've start vim again.
In my session file next to badd ... I see entries like:
args dyd.txt
which is a cause of a problem.
Best
Mikolaj

[2017-02-15 10:09] #34 closed

[2017-02-17 03:57] dhruvasagar commented on #34
Hi, well this is odd, but not prosession's fault. The session files are created by vim-obsession utilising the native `:mksession`. Also, when you close a file, it doesn't necessarily close / remove the buffer, for that you would have to do something like `:bw`or `:bd`.

[2017-02-23 06:56] mhainfarecom commented on #34
Hi, thanks for explanation. I've found an issue - it is mac-vim which adds args when opening a file in same window. Currently there is no good solution for this, but as a workaround I'm opening files as new tab, and then I'm closing all tabs :-( This way I don't have args entries in session file and you plugin works correctly.

[2017-03-03 15:12] alex-shamshurin commented on #33
Are there any updates with this issue? Integration with unite/denite?

[2017-03-03 15:30] alex-shamshurin commented on #33
I found https://github.com/gikmx/ctrlp-obsession plugin. Closed

[2017-03-03 15:30] #33 closed

[2017-03-03 15:31] alex-shamshurin commented on #31
Closed, session selection is more easy with https://github.com/gikmx/ctrlp-obsession

[2017-03-03 15:31] #31 closed

[2017-05-20 18:27] alex-shamshurin opened #35 "In windows this does not work"
This error is still exists https://github.com/dhruvasagar/vim-prosession/issues/31. When I make new session  it saves session file without path, just the session name. When I try open it -  "Directory not found".

[2017-05-22 05:59] dhruvasagar commented on #35
How do you make the new session ?

[2017-05-22 08:25] alex-shamshurin commented on #35
`:Prosession <full path to project>`

[2017-05-22 08:44] dhruvasagar commented on #35
I just tried it and it seems to be working as expected. Here are the steps I used to try to reproduce the issue :

* Prosession <full path to project without session>
* wq
* Prosession <full path to previous project> / cd to <full path to previous project>; vim

What are you doing different ?

[2017-05-22 08:47] alex-shamshurin commented on #35
For what all these steps are? Just one step `:Prosession c:\User\alex\workspace\myproject` and project is created but path is wrong. The same is on Mac and Linux but it works as expected

[2017-05-22 08:51] dhruvasagar commented on #35
I'll have to test on a windows box. Generally speaking it should work as long as the path itself exists and is correct.

[2017-05-22 08:55] alex-shamshurin commented on #35
Path exists and correct, it has been autocompleted, so it's ok, and plugin creates a session file but when it's linux or mac the path contains full path with `%` symbols instead of slashes. On windows it creates a file which name is equal to last folder name, i.e. `myproject` with no path.

[2017-05-22 09:39] #35 closed

[2017-05-22 09:40] dhruvasagar commented on #35
Try with the latest changes, it should work, if not, i'll have to debug on a windows machine. Will take a look later tonight.

[2017-05-22 09:41] alex-shamshurin commented on #35
Ok, thanks.

[2017-05-22 09:50] alex-shamshurin commented on #35
I does not work now at all. I updated plugin sources and what I get on startup:
![vim-prosession](https://cloud.githubusercontent.com/assets/1595209/26302507/20786ab0-3eed-11e7-8d91-f69bc97848df.jpg)

And in command mode `:Prosession <path to new project>` I get this:
![vim-prosession2](https://cloud.githubusercontent.com/assets/1595209/26302535/3f53a0e4-3eed-11e7-9332-9341d11339c8.jpg)

[2017-05-22 09:52] dhruvasagar commented on #35
My bad, there was a typo in there, kindly try now.

[2017-05-22 09:57] alex-shamshurin commented on #35
Oh, now it's OK, thanks a lot. Much obliged. But I'll make another ticket for new options.

[2017-05-22 10:07] alex-shamshurin opened #36 "Option to load last opened session"
I use this plugin to make new session and  [ctrlp-obsession](https://github.com/gikmx/ctrlp-obsession) plugin to switch between them, but I feel a lack of initial loading of last edited session. Is there a option to do it? It's a bit annoying for me to be opened at my home dir each time I start vim. (it's GUI version and I don't want to configure many desktops icons - one  for each project). Most

[2017-05-22 10:08] dhruvasagar commented on #35
Good to know, thanks!

[2017-05-22 10:09] dhruvasagar commented on #32
Hi, i'll close this issue now since I believe it was resolved & was due to another plugin.

[2017-05-22 10:09] #32 closed

[2017-05-22 10:18] dhruvasagar commented on #36
Hi, there's an option `g:prosession_default_session` which you can enable by setting it to `1`. When you open vim in a directory for which a session doesn't already exist (you can remove session for your home directory), it then creates a special session by the name 'default' for the purpose of treating it as the default fallback session. Subsequent launches will load this default session unless a

[2017-05-22 12:16] alex-shamshurin commented on #36
But I have session for my home directory - for editing my vim files. And time to time I need to switch current session back to home directory session for vim configs adjusting. I think the `default` session is not related for this case. I think plugin must switch to last edited session if vim itself was started from home directory regardless of existence session inside home if some option was spec

[2017-05-22 12:29] dhruvasagar commented on #36
I don't want to give any directory special treatment, even if it is the home directory. Irrespective of which directory VIM starts from, the behavior should be consistent in that prosession tries to load a session that already exists or otherwise creates a new one. If there already exists a session, loading a previously used session instead of the one for the current directory would be inconsisten

[2017-05-22 12:31] dhruvasagar commented on #36
Note, the behavior of prosession need to also be consistent with whether you're starting VIM or trying to switch to another.

[2017-05-22 13:05] alex-shamshurin commented on #36
I agree, but I wrote

So if this special option is set, the 'home' directory must be treated special way and last edited session must be loaded. if last session was home directory itself then home session must be loaded. So this change it does not break anything and make this plugin very convenient.

PS. I tried ConEmu for windows and iTerm for my mac and I had to change colours of terminal in ord

[2017-05-24 20:07] alex-shamshurin commented on #36
So any update with this?

[2017-08-02 12:58] nkmathew opened #37 "shellslash breaks session filename generation in Windows"
It's assuming that  paths in Windows will always have backslashes:

[code]

[2017-08-03 03:31] dhruvasagar commented on #37
Hi, that's right. I suppose I should use `&shellslash` value, although I am not entirely sure how wrong slashes behave on windows.

[2017-08-03 18:02] nkmathew commented on #37
Or just replace both slashes with a regex, should work for most cases. It could probably fail for paths with spaces e.g. '/first/second/some\ folder' but if you're seriously doing that then you deserve to be bitten :)

[2017-08-08 19:57] Jeansen opened #38 "Neither NerdTree nor Tagbar windows are being restored"
I use Nerdtree and Tagbar quite often. But whenever I close vim and want to continue on the previous session everything gets restored, except the windows for Nerdtree and Tagbar :(

[2017-08-19 15:59] alex-shamshurin commented on #36
+1

[2017-08-20 17:21] dhruvasagar commented on #36
Will publish here when completed, on priority this week.

[2017-08-21 01:19] dhruvasagar commented on #38
Prosession's core job is really to facilitate centralised session file lookups based on the current working directory, all the remaining work of session handling is done by vim-obsession, making use of vim's `:mksession`.

In general I would recommend to move away from the habbit of having them open all the time.

There have been earlier reports of similar issues (https://github.com/tpope/vim-obse

[2017-08-21 01:19] #38 closed

[2017-08-21 17:51] Jeansen commented on #38
Oh, ok. Thanks for the info, anyway :smile:

[2017-08-22 11:47] alex-shamshurin commented on #36
Ok, I hope you make release soon and it will work under windows too.

[2017-08-26 16:10] lacygoill opened #39 "How to restore settings for help buffers, including syntax highlighting?"
Hello,

I wrote a small [plugin](https://github.com/lacygoill/vim-session), which tries to do what `vim-obsession` does as well as some functionalities of `vim-prosession` (basically just restoring the last session automatically when Vim starts).

But it has an issue which I think `vim-prosession` also has. When my plugin restores automatically the session, if the latter contains a help buffer (an

[2017-08-28 08:21] alex-shamshurin commented on #36
Any progress?

[2017-09-19 05:47] Grueslayer opened #40 "Does not cooperate with "vim-startify""
using this plugin vim-startify "mostly" does not work.

[2017-09-19 11:49] #39 closed

[2017-09-19 18:06] dhruvasagar commented on #40
Hi, can you provide more details ? Was this issue resolved somehow ?

[2017-09-23 07:28] Grueslayer commented on #40
Hi this needs multiple changes to work. If you work with session autoload in prosession, you will see the vim-startify startup buffer every second time you start. The problem is maybe something about vim-startify comes first, prosession second. After closing and session autosave the previously vim-startify buffer gots displayed by the next start (but I have not investigated this further).

Next pr

[2017-09-23 07:59] Grueslayer commented on #37
Both expand() and glob() will make the "right" slash from a mixed filename and escaped spaces and like dhruvasagar wrote, the shellslash option tells what kind of slash expand() and glob() is using.

[2017-09-25 19:37] #36 closed

[2017-09-25 19:39] dhruvasagar commented on #36
Hi, I have pushed changes in favor of this feature. Now I have added a `g:prosession_last_session_dir` setting that defines which directory to be treated as special and then load the last open session instead of the one for that directory. Should work as discussed, kindly play around with it and let me know if you face any issues.

[2017-09-27 13:25] alex-shamshurin commented on #36
Great!!! I' check it out.

[2017-09-27 13:28] alex-shamshurin commented on #36
I'm sure this must be only for home directory! if I open vim from ANY other folder it should open the project from that directory, even if this options is set. Special treatment only for HOME directory.

[2017-09-27 15:26] dhruvasagar commented on #36
Kindly read the description above. As per the directory which you set the configuration option `g:prosession_last_session_dir` (You'd want to set it to your home), when you launch vim from that directory prosession will attempt to load the last open session and not the session for that directory.

[2017-09-29 17:49] alex-shamshurin commented on #36
Ok, please give an example how to do it. On unix it's '~'. On windows I do not know. How to specify for all systems a home dir here? Please add this to docs also.

[2017-09-29 17:53] dhruvasagar commented on #36
It would be best if you specify the value of the setting based on the platform. It should be the complete path.

[2017-09-29 18:00] dhruvasagar commented on #36
I have now updated it to compare using `:h expand()` function, so the value can be `~` or `$HOME` etc. There may be an appropriate notation for windows too. Or you can use the full path without short hand notations.

[2017-09-29 22:07] alex-shamshurin commented on #36
I have four computers, 5 accounts, three different OSes. But I'd like to have only one VIM config. That's why I emphasised that home dir (root of home dir) must be a special case.

For now I just use `let g:prosession_default_session=getcwd()` but I think it must be inside a plugin.

[2017-09-30 02:23] dhruvasagar commented on #36
No, all you need to do is something like this :

[code]

I cross checked with vim in windows and it gets expanded correctly to the user home directory there as well, and so will on linux / osx.

[2017-09-30 02:25] dhruvasagar commented on #36
For your reference however, there may be times where you need different settings for windows / linux, for that you can just do something like this :

[code]

[2017-09-30 15:53] alex-shamshurin commented on #36
Yes, it helped. Thank you very much for your time.

[2017-10-03 06:01] dhruvasagar commented on #36
You're welcome

[2018-03-06 15:45] TSFoster opened #41 "Switching session does not respect `exrc` option"
Hi,

I have `set exrc` in `~/.vimrc`. When I switch session via `:Prosession /path/to/dir`, `/path/to/dir/.[n]vimrc` doesn't seem to be executed. Am I right in thinking that? Is it possible to have that happen, or would it lead to problems?

Thanks,

Toby

Neovim v0.2.2
macOS 10.13.3

[2018-03-06 16:21] dhruvasagar commented on #41
Hi,

I am aware of this and I believe this is more of a 'vim' limitation since the `exrc` option triggers only during vim startup, switching sessions isn't exactly that and so it doesn't get sourced. I could potentially do this but not sure if it would be entirely safe.

[2018-03-06 17:16] TSFoster commented on #41
I guess there would be no way to "un-read" a local .vimrc, so switching out of a project keeps the custom .vimrc config?

Thanks for the help!

[2018-03-06 17:17] dhruvasagar commented on #41
Yeap that is also true

[2018-03-06 17:24] dhruvasagar commented on #41
What can be done is perhaps add custom autocmds for before & after session swap. Those can then be used for executing custom logic such as this, for eg.) you could source a .vimrc.leave before switch from the previous directory and a .vimrc.enter file when you enter a directory (session).

[2018-03-06 18:05] TSFoster commented on #41
Good idea!

I think there is a relevant event (DirChanged) in Neovim, and possibly in newer versions of vim

[2018-03-07 02:09] dhruvasagar commented on #37
Closing this issue for now, reopen if you face any issues.

[2018-03-07 02:09] #37 closed

[2018-03-07 02:10] dhruvasagar commented on #41
I'll close this issue for now, try making use of these custom events perhaps for your use case. If you face any issues reopen this issue and i'll take a look at it.

[2018-03-07 02:10] #41 closed

[2018-03-07 17:38] dhruvasagar commented on #41
The last commit was referenced to this issue incorrectly.

[2018-03-10 13:57] markwu opened #43 "Errors with "No matching autocommands.""
It seems `ProsessionPre`  and `ProsessionPost` does not defined yet. I got "No matching autocommands." errors when I use `:Prosession .`

[2018-03-10 14:03] markwu commented on #43
Maybe you should create two dummy autocmd for this? Or add `silent` before `doautocmd` to ignore this annoying errors.

[2018-03-10 14:07] #43 closed

[2018-03-10 14:15] markwu commented on #43
Thanks, I confirmed this issue fixed.

[2018-03-15 22:57] mrbig033 opened #44 "Plugin asking for vim-obsession, even though it's already installed and working"
I installed both using vim-plug. Obsession seems to work okay. I'm using NVIM v0.2.3-820-g9cefd83cc.

[2018-03-16 02:54] dhruvasagar commented on #44
Can I see a screenshot or something ?

[2018-04-30 13:28] blueyed commented on #44
I think it refers to https://github.com/dhruvasagar/vim-prosession/blob/3def4db2495a2c7e89ea681503dbb8fcfea8a4ae/plugin/prosession.vim#L9-L12, and can be reproduces by loading vim-prosession before vim-obession.

See https://github.com/dhruvasagar/vim-prosession/pull/46 for an improved msg.

[2018-05-08 02:32] L-Jovi opened #49 "cannot display nerdtree with tmux plugin resurrect-strategy-vim"
Hi, thanks for your smart lib :)

I use tmux plugin which called resurrect-strategy-vim and vim-obsession coexist that help me recover session, but nerdtree window always gone.

Then I try to use vim-prosession rather exec `:Obsession` command inside vim, but sometimes nerdtree show in a mess.

How shoud I fix it.

My env:
osx: 10.13.4
bash
tmux: 2.3
vim: 8.0

Thanks for your time.

[2018-08-19 20:04] Dbz opened #50 "Store the "alternative file" in the session"
Hello,

I'd like to store the alternative file in the session so that I can close vim, open it back up and type `<c-^>` and automatically switch to the previous buffer that I was using.

I found a [vi stack exchange answer](https://vi.stackexchange.com/questions/8256/make-vim-sessions-save-alternate-files/8267#8267) which can do this:

[code]

However, adding this to my vimrc doesn't solve the pro

[2018-08-22 17:04] dhruvasagar commented on #50
I am looking into this.

[2018-08-22 17:11] Dbz commented on #50
That is awesome, thank you! I appreciate the effort 🎉

[2018-08-22 17:44] dhruvasagar commented on #50
The following works :

    function! s:preserve_alt_buffer()
      let l:alternate = fnameescape(expand('#'))
      if !empty(l:alternate)
        call system('echo "let @#=\"'.l:alternate.'\"" >> '.v:this_session)
      endif
    endfunction

    augroup ProsessionPreserveAlt
      au!

      autocmd VimLeave * call s:preserve_alt_buffer()
    augroup END

I don't think there are any side effects

[2018-08-22 17:44] #50 closed

[2018-08-22 17:55] Dbz commented on #50
This works! Thank you! Really, this is awesome. I'll make an issue on vim-obsession and see if tpope is willing to accept this added functionality. I'll link back here and give you proper credit!

[2018-10-20 04:49] dhruvasagar commented on #49
Hi, you're welcome!

Most of these issues aren't really prosession specific or even obsession specific, it's the way these special nerdtree buffers (similarly for other special buffers like netrw etc) are configured to be handled by vim. My suggestion is to get away from the habbit of always having the buffer open, just open it when you need it and keep it closed otherwise, that will help you get

[2018-10-20 04:49] #49 closed

[2018-10-20 04:50] #44 closed

[2018-10-31 14:14] berarma opened #54 "Error at nvim startup"
Hi. Thank you for this plugin. I've found a little issue.

I'm getting an error when starting nvim after updating this plugin to the latest code in master. I think it might be related to 1b0d02fc2318bf5977355e8bf50420f8e3b1195c.

I'm using Neovim 0.3.0.

This is the message:

line    9:
E121: Undefined variable: g:prosession_on_startup
E15: Invalid expression: g:prosession_on_startup

I've fixed i

[2018-10-31 14:48] #54 closed

[2018-10-31 14:49] dhruvasagar commented on #54
Thanks for pointing it out, I missed noticing this in the PR. Fixed it now.

[2018-11-18 03:36] erlandsona opened #56 "Improvement Request - :bd! on :terminal's as :bd causes E89"
First off, thanks for making this as it's allowed me to switch from an incredibly slow TMUX workflow to a strictly NeoVim based workflow.

One thing I'm getting is this when I switch between sessions where there's a :terminal buffer open...
[code]
I think something similar was done for Shuogo's/bufexplorer plugin from what I was able to Google...
I noticed this line here...
https://github.com/dhru

[2018-11-18 03:48] erlandsona opened #57 "Feature to start new session"
Somewhat related to
https://github.com/dhruvasagar/vim-prosession/issues/36
https://github.com/dhruvasagar/vim-prosession/issues/3

When I first added vim-prosession I had nvim opened to my .dotfiles directory and I tried to do this `:Prosession ~/code/my_project_root` and that leaves me in one of two places depending on whether or not there was a :terminal buffer open in the previous session.

If

[2018-11-25 20:48] AndreaHasani opened #58 "Problems with filenames and creating new session."
Prosession commands makes a clean session (is that how its supposed to work). If there are open buffers it closes them. Also the filename is kind of weird with the absolute directory from where the session is being created as part of the filename.

[2018-11-26 01:42] dhruvasagar commented on #57
The terminal buffer thing is likely a kinda glitch in the way vim's native `:mksession` works, problems like these exist for other such special buffers, `netrw` included and few others like it from plugins which are setup in a way that vim wouldn't care about their existence as they are likely throw away and the plugins that create them manage their life cycle / content.

[2018-11-27 14:52] dhruvasagar commented on #58
With vim-prosession and vim-obsession, the session is created as soon as you launch vim from your project directory, and is regularly updated as you make changes such as open / close buffers etc. If you close and reopen vim (perhaps using `:qa`) in the same directory prosession will load the saved session for the current directory and load that and it would re-open all your buffers as they were wh

[2018-11-27 17:21] AndreaHasani commented on #58
Sorry about that I misunderstood what this plugin was supposed to do.

[2018-11-27 17:21] #58 closed

[2018-11-28 09:37] dhruvasagar commented on #57
I would recommend to tap into `ProsessionPost` user autocmd exposed from prosession, this is triggered by prosession after switching sessions. You can open an explorer, or perform any other action as you want.

[2018-11-28 09:37] #57 closed

[2018-12-04 20:15] Dbz opened #59 "Error opening session"
Hello again! I just created a new git branch, and I'm seeing an error on `nvim`. It's worth noting to make some plugins work better, I just switched to neovim:

[code]

I actually went into my `/Users/danielburt/.vim/session/` folder and deleted anything with `Touch ID` in it. I'm actually not sure why those sessions are being created.

This is what I have in my .vimrc for vim-prosession:

[code]

[2018-12-04 23:01] gpanders commented on #44
Why was this closed? I am having the same issue using vim's native package management. I have both `vim-prosession` and `vim-obsession` installed in my `.vim/pack` directory, but I get this error message every time I open vim or neovim.

[2018-12-05 00:47] dhruvasagar commented on #59
Thanks for reporting this, can you also share output of `nvim --version`, i'll investigate.

[2018-12-05 00:51] dhruvasagar commented on #44
Hi, I assumed it was no longer an issue so I had closed it.
Moreover, this issue should be resolved as long as you install obsession before prosession. If you're using vim-plug, something like this should also fix it `Plug 'tpope/vim-obsession' | Plug 'dhruvasagar/vim-prosession', you don't necessarily have to resort to doing so in an after plugin.

[2018-12-05 00:53] dhruvasagar commented on #44
I will look into the same with regards to vim's native packaging tools

[2018-12-05 01:07] Dbz commented on #59
Thank you for looking into it! Here is the output:

[code]

Please let me know if there is any other information that I can get for you.

[2018-12-05 01:40] gpanders commented on #44
Understood, however my concern was in regards to Vim's native package management which does not have any way to enforce ordering the way in which plugins are ordered. The one exception is that anything in the `after/` directory is guaranteed to load after all other plugins have loaded. Perhaps that can be taken advantage of in some way?

[2018-12-05 01:43] dhruvasagar commented on #44
Right as far as I know vim's native package management does not allow for there to be some kind of dependency, the after plugin idea is a fitting solution.
I will add that to the documentation.

[2018-12-09 15:42] TC72 opened #60 "Prosession seems to break ability to save tabs as part of the session"
Not sure if I'm doing this wrong but if I have 2 tabs open, one of them used lcd so both tabs have different directories as their current directory. When I quit vim with :qa prosession creates 2 session files 1 for each tab.

If I do the same thing without prosession, obsession saves the tabs as part of my current Session.vim file. If I open vim with vim -s Session.vim I get both my tabs back and

[2019-04-13 15:52] Coleej opened #61 "procession doesn't set filetype for vimwiki buffers"
When using prosession to restore a session with vimwiki buffers, the filetype is not automatically set. The correct filetype is set once you refocus on the window.

This doesn't seem to happen with standalone Obsession

[2019-06-19 16:08] dhruvasagar commented on #60
@TC72 I am not able to reproduce this issue, I am successfully able to open multiple tabs, use `:lcd` and then when I use `:qa` to exit and relaunch vim, prosession is able to get back to both tabs as before closing with their own separate directories.

[2019-06-19 16:08] #60 closed

[2019-06-19 16:11] dhruvasagar commented on #59
Hi, I am not exactly able to reproduce this issue, also there are no sessions being created for / referencing 'Touch ID', what we were seeing in the output you posted was regarding authentication being needed using Touch ID. I don't have one of these latest macbook's with Touch ID so I don't think i'll be able to reproduce this issue in particular, however I also don't think this is likely a prose

[2019-06-20 20:05] Dbz commented on #59
No worries. I don't see to be facing this issue anymore! Thank you for looking into it :)

[2019-06-20 20:05] #59 closed

[2019-06-20 20:13] #56 closed

[2019-10-22 16:16] oblitum opened #63 "Incompatibility with coc.nvim (E499)"
## Result from :CocInfo

## versions

vim version: NVIM v0.4.2
node version: v12.13.0
coc.nvim version: 0.0.74-317e3212e3
term: tmux-256color
platform: linux

## Messages

## Output channel: watchman

## Output channel: git

Looking for git in: git

resolved root: /home/francisco
resolved root: /home/francisco

## Output channel: snippets

[Info  - 12:49:02 PM] watchman watching project: /home/fra

[2019-10-22 16:45] oblitum commented on #63
I have one additional query:

When I use my full `.vimrc` (I also have denite and others), prosession causes two directories to be created, a `~/.vim/session/` one with sessions, and a `~/.vim/sessions/` one with `default.vim`. Is it normal? This `default.vim` file is created even with `let g:prosession_on_startup = 0 `.

[2019-10-22 17:06] dhruvasagar commented on #63
Will debug it and see if I find something.

[2020-01-31 16:16] markwu opened #64 "Folder name with extension `.vim` works weird"
I have two folders:

[code]

When I use `:Prosessions /project/a-project.php`, it will save session name `%project%a-project.php.vim`.  It is right.

But, when I use `:Prosessions /project/b-project.vim` it will save session name `b-project.vim` only. Is it expected behavior? I assume it should be `%project%b-project.vim.vim`

[2020-02-14 16:49] markwu commented on #64
Hi, any update of this? Is it expected behavior?

[2020-02-15 02:48] dhruvasagar commented on #64
Hi @markwu , I was testing this earlier, it's not exactly expected behavior it is a bug. The plugin makes some assumptions if the project name ends in `.vim` assuming it's a session file. I have a fix ready, I need to test it more before I can push it. Thanks for reporting.

[2020-03-05 09:19] Artem-Schander commented on #40
Hi folks

I thought instead of creating a new issue I post my two cents here, since both of you could be interested in it somehow and maybe even have a solution for my problem.

First of all, thanks @dhruvasagar for this plugin. I'm using it for years now. It does the job very well.

For a few weeks now I'm using vim-startify. I wrote [some scripts](https://github.com/Artem-Schander/dotfiles/blob/

[2020-03-08 18:45] Grueslayer commented on #40
ProSession and Obsession both have no option to stop a session. So using SClose you need to tell at least obsession to stop updating the still active session.

Obession holds its session file name in a global var, still contains the file after SClose

[code]

[2020-03-09 08:43] Artem-Schander commented on #40
Hi @Grueslayer
Thanks for the answer.
Does that mean I have to override the :SClose command to unset g:this_obsession?

[2020-03-12 09:56] dhruvasagar commented on #40
@Grueslayer @Artem-Schander

That is not true, Obsession does have an option to stop session recording. Quoting the following from vim-obsession help documentation :

[code]

This can be controlled by setting `g:prosession_on_startup` which might be something you may want to leverage considering you want to use vim-startify on startup / launch instead and then switch into a project session from th

[2020-03-12 11:37] Grueslayer commented on #40
It's still true :( Like written in the manual (you quoted here) it PAUSES the session (v:this_session is empty but g:this_obesssion still contains its filename). And :Obession than restarts  the session (its a Toggle). So you do not have an option to really stop the session, you can only pause and restart and you have no option to force a stop while not knowing the internal implementation of obses

[2020-03-12 13:07] dhruvasagar commented on #40
@Grueslayer Yes, that's true, if you look at vim-obsessions' source, you can see that it relies on `g:this_obsession` to determine if the session should be captured. If you stop the session using `:Obsession` and then `:unlet g:this_obsession` it is effectively stopping the session capturing without deleting the session file.

[2020-03-12 14:17] Artem-Schander commented on #40
Cool, thanks for the insight. I'll try it later :)

[2020-03-25 11:04] sbeyer opened #65 "vim -S not working"
Using `vim -S <sessionfile>` does not work after having a session.

**Steps to reproduce:**

  1. disable the plugin
  2. start `vim`, do something, do `:mksession foo-session.vim`, exit
  3. enable the plugin
  4. start `vim`, do something different, exit
  5. start `vim -S foo-session.vim`

**Expected behavior:**

You should be in the session of `foo-session.vim` (step 2).

**Observed behavior:*

[2020-03-25 16:46] dhruvasagar commented on #65
Quoting from the vim documentation :

[code]

As you can see, the `-S` works slightly differently, it sources the given file after the first file has been read, so by this time all plugins have been loaded. When I wrote this plugin initially I remember coming across this problem and didn't find any easy way to detect if `-S` or for that matter, any other command line options have been passed to vi

[2020-04-08 16:42] dagostinelli opened #66 "Improved "Getting Started" documentation"
Request: Improve the README.md file for newbies to understand how to do this.

Here's what I did.  I'm totally lost now.

0) Discovered that this existed after [reading this post](https://vi.stackexchange.com/questions/287/how-to-save-window-split-and-buffer-layout)  I think to myself, "Oh, I get it. Obsession makes session files (but maybe puts too much in them) (and leaves them all over the plac

[2020-04-13 16:34] dhruvasagar commented on #66
Hi, the plugin is designed to require least effort. All you do is essentially step 2. and you're set. Your session is created on startup and once you exit vim, and launch it back, it should be loaded back and you can resume from where you left off.

You don't need to do anything other than this, there are obviously some settings which you can configure, for which you can find help via `:h prosessi

[2020-04-13 16:40] dhruvasagar commented on #66
This is not required, the command `:Prosession`(correcting the typo above), is available to use if you wish to **switch** from your current project to another project.

I would strongly advice to delete the `Session.vim` file within the project directory, that may be causing some issues. On start up, vim-prosession is designed to lookup session for your directory based on it's absolute path and lo

[2020-04-13 16:42] #65 closed

[2020-04-13 17:22] dagostinelli commented on #66
Hi @dhruvasagar!  After that episode when I was trying to get things to work in vim, I gave up and went back to work in gvim (Though I was testing with vim, I actually use gvim mostly)  I did eventually notice (later that day) that when I open/exit gvim, that it remembers my layout.  I've been enjoying this for the past few days and noticed that it's enhanced my work-flow.  Thank you! I still thin

[2020-04-17 14:50] dhruvasagar commented on #66
@dagostinelli If you launch gvim using some kind of launcher / quicksilver /

[2020-04-17 14:57] dhruvasagar commented on #66
@dagostinelli Oh you can also make use of `g:prosession_last_session_dir` to work around this issue. I'd recommend reading the help for it `:h g:prosession_last_session_dir`

[2020-04-19 15:35] nkmathew opened #67 "Session files don't get generated with their paths when &shellslash is enabled in Windows"
Relevant: #37, #42

[code]

The check for `shellslash` on Windows on that line becomes useless because of the following statements. The only time `getcwd()` will return paths with backslashes is when `&shellslash == 0` and given that Linux doesn't have it, the conditional should simply be:

[code]

[2020-04-19 18:10] dhruvasagar commented on #67
@nkmathew Will you be able to test if I push this change on a separate branch ?

[2020-04-19 20:16] nkmathew commented on #67
Yes I will

On Sun, Apr 19, 2020, 21:10 Dhruva Sagar <notifications@github.com> wrote:

[2020-04-20 03:03] dhruvasagar commented on #67
@nkmathew I have pushed the changes you suggested in the branch `fix-shellslash`. Kindly test it on windows and let me know, unfortunately I do not have access to a windows box right now.

[2020-04-20 13:39] nkmathew commented on #67
It works. The session files are created with percentages in place of the slashes both with `shellslash` enabled and disabled

[2020-04-21 02:22] dhruvasagar commented on #67
@nkmathew Thanks, I will merge and push this.

[2020-04-21 02:23] #67 closed

[2020-04-21 02:31] dhruvasagar commented on #61
I have recently been using vimwiki and tested this with both on startup as well as while switching between sessions. It is picking up the filetypes correctly.

Have you configured vimwiki to use a different extension than the default ?

@Coleej Let me know and i'll test it. Closing this issue for now.

[2020-04-21 02:31] #61 closed

[2020-04-27 13:40] dhruvasagar commented on #63
I tested using :

I am not seeing the same issue. Can you confirm if you are still facing this issue ? @oblitum

[2020-05-08 14:01] llinfeng opened #68 "Can I exclude certain directories?"
May I exclude certain directories from auto-loading/saving with Prosession? I host a personal wiki using [Vimwiki](https://github.com/vimwiki/vimwiki) and browse/edit files in `~/Wiki/Warehouse` on an hourly basis. I prefer to disable Prosession completely for these files.

For now, `vim +VimwikiMakeDiaryNote` is not considered as a way of "starting Vim with an argument". The `+VimwikiMakeDiaryNot

[2020-05-08 14:13] dhruvasagar commented on #68
@llinfeng I think that's a fair expectation. I can work on adding support for configuring excluded / ignored paths.

As for now, you could either simply start vim with `vim index.wiki` and that would skip loading the session. If you want to use `g:prosession_on_startup`, you should set it to `0` to disable session loading on startup.

[2020-05-08 14:31] llinfeng commented on #68
Thank you for your quick reply. Looking forward to the option to exclude/ignore paths.

RE: setting `g:prosession_on_startup` to 0 using `autocmd` --- I forget to update the post above. Switching it to 0 did not help `vim +VimwikiMakeDiaryNote` to start without loading from the saved session files.

One personal solution based on my habit of quitting session using a `Z` mapping in normal mode:
[co

[2020-05-08 14:39] dhruvasagar commented on #68
@llinfeng Yes actually `BufRead` or even `VimEnter` autocmds execute after vim has done loading everything, including loading prosession plugin, so it wouldn't be able to affect prosession's session loading.

You could do something like `vim +let\ g:prosession_on_startup=0` on a directory you don't want prosession to kick in and that should work.

[2020-05-08 14:42] dhruvasagar commented on #68
@llinfeng On testing I found that the above mentioned method does not work, again because that runs after vimrc has been loaded.

This is the right solution :
[code]

[2020-05-08 14:50] llinfeng commented on #68
Thanks a lot! I have updated my Autohotkey scripts so that they will be launching Gvim with the `--cmd "let g:prosession_on_startup=0"` argument.
* On Windows, `gvim +VimwikiMakeDiaryNote --cmd "let g:prosession_on_startup=0"` runs out of the box, assuming the folder containing `gvim.exe` is added to the `PATH` environmental variable.

[2020-05-08 14:51] #68 closed

[2020-05-08 14:53] llinfeng commented on #68
Closing the issue as I can always start a Prosession-free Vim session by `vim --cmd "let g:prosession_on_startup=0"`.  Creating an alias for *NIX and adjusting however one starts his/her Gvim sessions suffices.

[2020-06-20 20:22] jandamm opened #69 "Does not work nice with +command"
I'm using neovim as my `man` command.
Basically like this: `nvim +Man fzf`
Since I installed prosession this doesn't work anymore since instead the session is loaded.
Is there a way you can determine if vim was started with a command and then don't restore the saved session?

[2020-06-20 20:56] dhruvasagar commented on #69
@jandamm Unfortunately, there's no vim api to determine if there were options passed to vim. The best solution I have so far is using the following command :

[code]

You could use the following in your context :

[code]

[2020-06-20 20:57] dhruvasagar commented on #69
It may be easier to use an alias for the same. Let me know if that works for you.

[2020-06-20 21:22] jandamm commented on #69
Sounds good for common tasks but it's easy to forget for other cases.

I had the idea to delay the initialization a bit and then check if there is only one window with [No Name] after 200ms. Not sure if this is viable though.

[2020-06-21 16:13] dhruvasagar commented on #69
You could try tapping into the custom autocmd `autocmd User ProsessionPre ...` for something more reliable than waiting for an arbitrary amount of time. That should prove to be more meaningful @jandamm

[2020-06-26 08:15] jandamm commented on #69
Is there a way to stop Prosession from ProsessionPre?

I'm currently trying to replace tmux with nvr and `:terminal`. If this works out fine, I wouldn't have any issues with Prosession and `+command` anymore.
For now I've added your suggested snippet to `man`.

[2020-07-08 00:24] Zeioth opened #70 "Directory does not exist"
Let's say I have a session ".vim/sessions/meta.vim"

    :Prosession meta

Autocomplete correctly, but when I press enter, I get the error:

    Directory meta does not exist

To fix this I have to create the directory "~/meta"

The thing is I don't wanna have "~/meta" I want to have ~/activities/meta. There's some way to bypass the checking to achieve this? Thank you

[2020-07-08 01:08] Zeioth commented on #70
Deleting this block from prosession.vim fixes the issue. It seems that 'throw' is preventing prosession from opening the session unless I put the directory on "~/"

    if !isdirectory(dir)
      call s:throw('Directory ' . dir . ' does not exist')
    endif

[2020-07-08 01:27] dhruvasagar commented on #70
@Zeioth If you want to load a session manually, you might as well source it manually. Prosession follows a naming convention for the session files. Can you elaborate on exactly what you want to achieve ?

[2020-07-08 01:32] #66 closed

[2020-07-08 12:48] Zeioth commented on #70
The issue I was experiencing was that I could not open a session unless there was a directory with the same name as my session in "~/". IDk if was a missconfiguration issue, or a bug.

[2020-08-12 20:02] jandamm opened #71 "Cannot find directories ending with `.vim`"
When I want to restore a session for a folder like `.../ctrlp.vim` it does not work because the session is saved as `...%ctrlp.vim` and therefore looking for the folder `.../ctrlp` which does not exist.

[2020-10-06 07:14] nghialm269 opened #72 "Always use absolute path"
Hi,

Currently, `Prosession` create different session files if I run it with different parameters, although all of them resolve to the same folder.

For example, I have a project folder: `/home/nghialm/projects/personal/test`

* When I'm in `/home/nghialm/projects/personal/test` and I run `:Prosession .`, it will create `%home%nghialm%projects%personal%test.vim` in `g:prosession_dir`

* When I'm i

[2020-10-12 00:43] llinfeng commented on #68
I came up with the following `zsh` function as a working alternative, where `vim` is remapped so that:
1. When executed at the home directory, no auto-loading of Prosession shall occur,
2. When executed from other directories, Prosession will load automatically by default.

[code]

@dhruvasagar An option like `g:prosession_no_auto_start_dir` would be a more elegant solution.

[2020-10-12 02:24] dhruvasagar opened #73 "Allow to define certain directories to be ignored by Prosession"
I came up with the following `zsh` function as a working alternative, where `vim` is remapped so that:
1. When executed at the home directory, no auto-loading of Prosession shall occur,
2. When executed from other directories, Prosession will load automatically by default.

[code]

@dhruvasagar An option like `g:prosession_no_auto_start_dir` would be a more elegant solution.

_Originally posted by

[2020-10-12 02:27] #73 closed

[2020-10-12 02:30] dhruvasagar commented on #72
@mnrce i'll look into this

[2020-10-12 02:38] dhruvasagar commented on #73
@llinfeng I have introduced `g:prosession_ignore_dirs` to allow configure a comma separated list of directories to be ignored by prosession. Let me know your thoughts.

[2020-10-12 02:48] llinfeng commented on #73
Please advise if I am feeding in the "comma separate list of directories" to `g:prosession_ignore_dirs` wrong:
[code]
These are directories for a WSL distro on a Windows machine. And, I get the following error:
![image](https://user-images.githubusercontent.com/5890407/95699981-e15fdc80-0c13-11eb-9587-30e8fb4a1f20.png)

[2020-10-12 04:11] dhruvasagar commented on #73
@llinfeng No, for some reason I chose for it to be a comma separated string `'/path1,/path2'`, let me switch it to an array, I was influenced by the likes of `wildignore`

[2020-10-12 05:54] llinfeng commented on #73
Works great! The auto-compeletion following `:Prosession` rocks! It shall list all directories that `vim-prosession` knows of, which are the exact string-value needed for ignoring. Here is how I can excuse `prosession` from logging `gvim.exe` sessions started from WSL at its root dir.

----

* I assigned `powershell.exe -c "c:\Vim\vim82\gvim.exe"  $@ &` to an alias and launch `gvim.exe` from the W

[2020-10-12 06:06] dhruvasagar commented on #73
`:Prosession` auto-completion relies on pre-existing sessions in the sessions directory.

Regarding the issue on windows, i'll create a separate issue for that and try to fix it.

[2020-10-12 06:08] dhruvasagar opened #74 "Windows sessions ignore drive letters"
One follow up observation and an additional problem based on the following correspondence table:
| Windows Dir | ignore_string |
|---------|---------------|
| c:\TEMP | "c:/TEMP"     |
| d:\TEMP | "d:/TEMP"     |

On Windows machines, it looks like `vim-prosession` does not care about the drive-letter, and saves the session into `%TEMP.vim` regardless of where GVIM is launched.

[2020-10-12 06:12] dhruvasagar commented on #73
@llinfeng I am not exactly sure regarding the subdirectory error, it shouldn't be related to ignored directories feature. At the moment, that feature works only for directories and does not try to ignore all subdirectories. The error you've shown indicates it's a permissions issue (i.e. vim was unable to write a file to that location). Assuming sessions are other wise working for you, this could l

[2020-10-12 06:14] dhruvasagar opened #75 "Unable to create session on Windows for subdirectory of ignored directory"
When trying to open `gvim.exe` from subdirectories of the ignored directories, for example, `g:\TEMP\TempSub\`, the following error occurs. This is only happening for GVIM on Windows. [Please take this as neutral documentation.]

![image](https://user-images.githubusercontent.com/5890407/95709786-5ee41680-0c2d-11eb-8768-e4ee19f5f49d.png)

_Originally posted by @llinfeng in https://github.com/dhruv

[2020-10-12 06:17] llinfeng commented on #75
I can confirm that opening `gvim.exe` from other directories does create `*.vim` session files by default. This happened both in `powershell` and Command Prompt, launched with and without admin privileges.

[2021-01-06 00:52] timsofteng opened #78 "Questions about using with git"
Hello. May I ask you about using vim-prosession with git?

1. Can it make new session automatically when I checkout to another git branch?
2. Can it restore previous session automatically when I checkout back?

[2021-01-11 19:28] dhruvasagar commented on #78
@timsofteng There is an option `g:prosession_per_branch` which you can enable to direct prosession to create sessions per git branch. You would still have to restart vim to switch.

[2021-01-30 22:16] timsofteng opened #79 "Swap files"
Hello. I noticed vim create .swp file for every opened file with your plugin.
Even if I do nothing inside the file.
Why does it happen?

[2021-01-30 22:20] timsofteng commented on #78
It would be great to have automatically switching feature.

Or just switching to current branch session by some shortcut. It could prevent some faults for unsaved files because you could handle this case and message user about unsaved files.

[2021-02-09 16:10] dhruvasagar commented on #79
i'll take a look

[2021-02-09 16:11] dhruvasagar commented on #78
@timsofteng I think that's a good suggestion, i'll see if we can do something like this

[2021-02-23 10:00] AleCandido commented on #69
Here the same issue.

I'm trying to use this together with [jez/vim-superman](https://github.com/jez/vim-superman), from `vman` command, that essentially issue:
[code]

Actually I'd like prosession to run **only** when I start the editor with any argument, i.e.
- no file
- no other flag

Is it possible?

[2021-02-23 10:11] AleCandido commented on #69
For whoever would have the same issue for the moment I solved with an horrible hack:
- the `vman` script in `vim-superman` it's just a small helper, almost an alias
- I copied it inside my scripts (in a `PATH` checked folder)
- I added a whatever filename to the command and delete the buffer right after

[code]

[2021-02-23 10:17] jandamm commented on #69
@AleCandido nope this isn't possible with prosession. If you want to achieve this you need to start the session from your shell not at vim startup.
I've created my own wrapper around vim-obsession but doesn't have the quirks I ran into with vim-prosession (project folders cannot be named `*.vim`, files won't get saved (you can do it via `au` but errors are ignored, always creates a session).

Feel

[2021-02-23 15:14] AleCandido commented on #69
@jandamm thank you very much. Unfortunately I have to make a more careful merge: I was using prosession without thinking too much, and I liked that it was making all the magic on its own.

Most likely *all the magic* that I liked it's here:

https://github.com/dhruvasagar/vim-prosession/blob/ad008dbdcd04ee1758f4475263c2a37789d32702/plugin/prosession.vim#L209-L217

but if I have to reintroduce on m

[2021-02-23 17:34] jandamm commented on #69
Unfortunately the *all the magic* part is the one which isn't working with `vman`.
You can try to disable prosession for this command by setting `g:prosession_on_startup` to 0 in your shell alias/function.

[2021-02-23 18:10] AleCandido commented on #69
You're perfectly right, nothing to say.

Actually I tried to use the `let g:prossesion_on_startup=0`, but it failed somehow, then I resorted to the bad trick above: since prosession is checking for a file argument I can pass one, whatever, and immediately delete the buffer.
It's a hack, but it's working.

For sure session management implementation it's now on my todo list, and yours is the startin

[2021-02-24 18:08] blankname commented on #69
@AleCandido, make sure you're using `--cmd "let g:prosession_on_startup=0"` (runs the command before processing vimrc) in your alias and not `-c "let g:prosession_on_startup=0"` (runs the command after reading the first file).

Using `-c` will set the variable after prosession has already done its thing.

[2021-02-24 19:32] AleCandido commented on #69
Thank you @blankname, it's actually working! (both for `vim` and `neovim`)

But I need to make a script nevertheless, I found no way to do it with an alias...

[2021-02-28 05:34] dhruvasagar commented on #69
@AleCandido @blankname interesting conversation, if you think this is worth sharing with others, would you be able to contribute by adding the details within the README ?

Also I am closing this since it's not really something that can be fixed from within prosession at the moment.

[2021-02-28 05:34] #69 closed

[2021-02-28 10:23] AleCandido commented on #69
That's perfect: I can add a section on my hack (put a trivial file and cancel the buffer), but I would suggest to put it in the wiki with a link in the README. @dhruvasagar Tell me what do you prefer.

[2021-02-28 13:56] dhruvasagar commented on #69
@AleCandido Wiki would also work.

[2021-03-05 01:44] roachsinai commented on #40
Hi, @Artem-Schander your solution is so greatttt! Thanks!!!

[2021-03-05 02:05] roachsinai commented on #40
Hi, @Artem-Schander your solution is so greatttt! Thanks!!!

[2021-03-05 05:51] dhruvasagar commented on #40
@Artem-Schander @roachsinai If this is something that works for you, would you be able to contribute to prosession by adding documentation for this workflow ? I have no qualms with startify and if prosession & startify can coexist amicably, that's good for everyone who wants to use both.

[2021-03-05 07:31] roachsinai commented on #40
@dhruvasagar when open vim directly without given file, for vim-prosession will start a Session. While for startify it will open a startify buffer, list mru files (each file a entry) or other custom settings. So when both plugins enabled, startify will not work.

What @Artem-Schander did is set prosession not run on start up (by `let g:prosession_on_startup = 0`, when startup will only startify ru

[2021-03-05 09:30] Artem-Schander commented on #40
Hi everyone.
@roachsinai You're welcome. Nice to hear that it works for you.
@dhruvasagar Unfortunately, it didn't work well enough for me. I can not remember the reason for me giving up, but I think I'll give it another go and see if there is a suitable solution for my workflow. In this case I would be happy to contribute.

[2021-03-06 11:01] dhruvasagar commented on #40
@Artem-Schander Cool, do share if something needs to change / improve in Prosession. In the meanwhile I might try taking a look as well. Thanks.

[2021-03-06 16:31] Artem-Schander commented on #40
@dhruvasagar I think I have a solution without making too much compromises

This helped a lot. I ended up overriding/complementing the commands [`SClose`](https://github.com/Artem-Schander/dotfiles/blob/67c7a5bb17615d26a5da1007d9eae503e4002daf/config/nvim/autoload/helpers/startify.vim#L85-L91) and [`SDelete`](https://github.com/Artem-Schander/dotfiles/blob/67c7a5bb17615d26a5da1007d9eae503e4002daf/

[2021-03-12 20:15] #40 closed

[2021-03-20 10:36] dahmc opened #80 "Enable only in git repositories?"
Is there a way to have this only be enabled when I'm in a git repository?

We already have `g:prosession_ignore_dirs` but this is for directories.

But usually I don't want to have sessions in random locations around the filesystem, only in git folders where there's lots of work to be done.

[2021-03-20 18:44] #80 closed

[2021-03-20 18:46] dhruvasagar commented on #80
@dahmc I've added a new configuration `g:Prosession_ignore_expr` to allow more control over directories to be ignored. I hope this should help you with this.

This is a `Funcref` that must return a boolean value, either `v:true` or
`v:false`, upon invocation to determine if a directory should be ignored
by prosession.

[code]

This could be used to ignore directories by using some specific
criteri

[2021-03-21 05:39] dahmc commented on #80
@dhruvasagar damn, that was quick. Thank you so much!

It works like a charm for git repos.

I did this to have it work with monorepos as well, where I only work in a subfolder:

[code]

Thanks again!

[2021-03-21 05:55] dhruvasagar commented on #80
@dahmc That won't work. You should use this instead :

[code]

Also NOTE, this new configuration `g:Prosession_ignore_expr` starts with a capital letter as opposed to others, that's because viml requires `funcref` to be capitalized.

[2021-03-21 06:00] dahmc commented on #80
@dhruvasagar haha ok, I  really thought that worked, but I use yours now (plus a trailing closing bracket at the end).

Thanks!

[2021-06-18 20:50] dapetcu21 opened #81 "Error on VimLeave"
I get something like this every time I close nvim. Here's my init.vim: https://github.com/dapetcu21/vimrc

This is with just one buffer open (init.vim):

[code]

[2021-06-18 21:15] dhruvasagar commented on #81
@dapetcu21 It looks like an error stemming from fuior, I don't know much about it. Does not seem to be related to vim-prosession.

[2021-06-18 21:51] dapetcu21 commented on #81
How would that be stemming from fuior? What makes you think that? The only mention to fuior in that error is that vscode-language-fuior mention, which happens to be the dirname of a repo I've been working on recently (could as well have been part of the current dir).

Fuior is just a language I've been working on, btw. It has a tree-sitter grammar that I loaded with neovim's tree sitter support. I

[2021-06-18 22:03] dhruvasagar commented on #81
The error message you pasted :

[code]

[2021-06-18 22:06] dhruvasagar commented on #81
@dapetcu21 Also the path mentioned there is weird and wrong, I don't know exactly where this is coming from, but vim-prosession is certainly not trying to write this file.

[2021-09-15 06:47] nguyentritai2906 opened #82 "Disable auto create session"
Most of the time I invoke `vim` I don't want to create a session unless I'm working on some project.
This behaviour is default in vim-obsession, that is, it only create session when I call `:Obsession`.
Is there anyway I can disable the auto create session behaviour?

[2021-09-24 15:35] #82 closed

[2021-09-27 17:09] dhruvasagar commented on #82
@nguyentritai2906 I hope you discovered `g:prosession_on_startup` ? There's also `g:prosession_ignore_dirs` that you could make use of to ignore certain specific directories. Also there's `g:Prosession_ignore_expr`

[2021-11-23 09:07] eight04 opened #83 "Prosession stores mapping in last_session"
https://github.com/dhruvasagar/vim-prosession/blob/976f3e61c2dd4ab709ea5eccbbab9e42d35d7e8c/plugin/prosession.vim#L207
This behavior is inconsistent with Obsession:
https://github.com/tpope/vim-obsession/blob/82c9ac5e130c92a46e043dd9cd9e5b48d15e286d/plugin/obsession.vim#L76-L78

[2021-11-23 09:26] dhruvasagar commented on #83
@eight04 I personally don't use this feature, however, this was designed to work specifically along with `g:prosession_last_session_dir` setting. The idea is for that directory we save and restore session in a custom way. I believe we can't rely on obsession for saving this at this stage.

Did you encounter an issue with this ? Can you please elaborate more on that ? Kindly share your thoughts / s

[2021-11-23 09:38] eight04 commented on #83
I set `g:prosession_last_session_dir` to `~` so gVim loads the last session automatically at startup. Did I misunderstand how this option works?

[2021-11-23 10:18] dhruvasagar commented on #83
@eight04 No, that is right, although accidental because gVim always starts with `~` as the current directory. If you start gVim manually from the terminal while being in a different directory this does not apply.

[2021-11-23 11:43] eight04 commented on #83
How about changing `mksession` to something like this?
[code]
Though it won't work when `path_to_current_session == path_to_last_session`.

[2021-11-23 20:10] dhruvasagar commented on #83
@eight04 I'll take a look, thanks for your suggestion.

[2021-11-26 22:55] Gee19 opened #84 "Breaks loading items into quickfix with -q flag"
When this plugin is installed/active it breaks the functionality of loading items into vim's quickfix list via the `-q` flag.

For example:
When using [git-jump](https://github.com/git/git/tree/master/contrib/git-jump), running `git jump grep vnoremap` results in quickfix items being loaded without filenames, see [screenshot.](https://i.imgur.com/KbLJCr3.png)

Piping the command to cat shows each

[2021-12-01 06:46] dhruvasagar commented on #84
@Gee19 Thanks for reporting this, i'll need to take a look, never used this feature before.

[2021-12-01 18:38] #84 closed

[2021-12-01 18:41] #83 closed

[2021-12-06 13:01] nf1s opened #87 "E15: Invalid expression"
E15: Invalid expression: !argc() && len(v:argv) < 2 && g:prosession_on_startup

![Screenshot 2021-12-06 at 14 01 25](https://user-images.githubusercontent.com/21188670/144850574-cbd78674-7a1f-4668-8db8-06513e428692.png)

[2021-12-06 13:12] ahmednafies commented on #87
When re installing the plugin I get

E121: Undefined variable: v:argv

[2021-12-06 13:21] dhruvasagar commented on #87
@ahmednafies Thanks for reporting, this was added recently, can you tell us what version of vim you're on ?

[2021-12-09 20:45] ahmednafies commented on #87
NVIM v0.4.4
Build type: Release
LuaJIT 2.1.0-beta3

[2021-12-10 20:34] rsheasby opened #88 "Add escape hatch for auto loading when vim flags are specified"
@Gee19 @dhruvasagar
The changes in #85 have the side effect of breaking auto loading for those of us using GUIs that launch the vim/nvim subprocess with arguments. In my case, I use neovim-qt which adds a few command line arguments to nvim, but the change in #85 now prevents prosession from loading. There doesn't seem to be any way of undoing this behaviour either? It really seems that #85 should'

[2021-12-10 20:40] Gee19 commented on #88
@rsheasby initially that PR only prevented the session autoload if the `-q` flag was passed but we couldn't think of a case where autoloading a session made sense with some args supplied to vim. Could you supply the args that are being passed to nvim-qt?

`echo v:argv` should suffice, I can push up another PR with a fix ASAP

[2021-12-10 20:42] rsheasby commented on #88
Here's the full launch args from `ps -A`: `/opt/homebrew/bin/nvim --embed --cmd let &rtp.=',/Applications/NeoVim-Qt.app/Contents/MacOS/../Resources/runtime' --cmd set termguicolors`

[2021-12-10 20:43] rsheasby commented on #88
Note that no args are provided to `nvim-qt`, it's the args that `nvim-qt` provides to `nvim` when it spawns it as a child process.

[2021-12-10 20:56] Gee19 commented on #88
@rsheasby for the time being you can workaround this with my fork: https://github.com/Gee19/vim-prosession

Apologies for the trouble!

[2021-12-10 21:14] Gee19 commented on #87
Looks like `v:argv` was added in NVIM 0.6

https://github.com/neovim/neovim/commit/e89462d9855eef7718d482df7f92da4279a1c5c3

@nf1s Can you try my fork and report back? https://github.com/Gee19/vim-prosession

[2021-12-10 21:58] #87 closed

[2021-12-11 09:21] dhruvasagar commented on #88
Is this still an issue after closing #89 ?

[2021-12-11 13:33] rsheasby commented on #88
Yup, that solved it.

[2021-12-11 13:33] #88 closed

[2022-01-22 06:14] dhruvasagar commented on #75
I am going to close this for now since I am unable to reproduce this, if anyone else faces this again, we can reopen it.

[2022-01-22 06:14] #75 closed

[2022-02-08 19:50] eight04 opened #92 "Unable to delete the session file if the folder is removed"
After creating a session file and removing the folder, `:ProsessionDelete` will throw an `Directory ... does not exist` error.

Maybe `:ProsessionDelete` should suppress the error and delete the session file.

[2022-02-08 21:45] dhruvasagar commented on #92
@eight04 Also, the most appropriate action here is just calling `:Obsession!`

[2022-02-09 05:40] eight04 commented on #92
Because you can still see that item in `prosession#ListSessions`. The major problem is that it also affect `prosession#ProsessionComplete` and I get lots of invalid entries when completing the `:Prosession` command.

`:Obsession!` can only work with the current session. It doesn't work for session files (in `g:prosession_dir`) which are not activated.

[2022-02-09 06:52] dhruvasagar commented on #92
@eight04 Alright that makes sense, what about a `:ProsessionClean` instead to delete invalid session files ?

[2022-02-10 16:05] #92 closed

[2022-03-01 12:46] eight04 opened #93 "`rm` doesn't work on Windows"
https://github.com/dhruvasagar/vim-prosession/blob/9ce73e992d4481de6235222b75e42f64d2b307ef/plugin/prosession.vim#L135

I changed it to `delete()` locally.

[2022-03-01 14:48] dhruvasagar commented on #93
Pushed the change, thanks. Feel free to submit a PR next time.

[2022-03-01 14:48] #93 closed

[2022-03-16 17:25] dhruvasagar commented on #81
Let me know if this is still an issue and wasn't addressed in #86

[2022-03-16 17:25] #81 closed

[2022-03-16 17:29] dhruvasagar commented on #79
@timsofteng I have no reason to believe vim-prosession can cause this in any way. All we do is load vim sessions saved by vim-obsession and nothing else.

[2022-03-16 17:29] #79 closed

[2022-05-14 14:08] dragon-architect opened #94 "Prosession always creates blank new session"
I'm trying to figure out how to use Prosession, and when I invoke it on a session that has not yet been saved, it always wipes that session completely clean on me and creates a new blank session.

Current invocation attempts have included:
`:Prosession .` (I've since learned in skimming the closed issues that this is improper and not supported)
`:execute "Prosession " . getcwd()` (an attempt at no

[2022-05-17 20:09] dhruvasagar commented on #94
@dragon-architect This is a bug, thanks for reporting.

[2022-05-17 20:34] #94 closed

[2022-05-17 20:35] dhruvasagar commented on #94
@dragon-architect I have pushed a fix for this, also `:Prosession` can be invoked without any arguments to use the current working directory. Appears to be working well, if there are any issues do let me know. Thanks.

[2022-05-18 22:12] dragon-architect commented on #94
There is definitely a new issue now after running `git pull` to update the plugin, but it's a different issue entirely that needs a separate ticket to be opened! 😄

[2022-05-18 22:15] dragon-architect opened #95 "g:loaded_prosession disables plugin if set to any value"
Does what it says on the (issue's) tin! If `let g:loaded_prosession` exists at all--doesn't matter what its value is explicitly set to--it disables the plugin entirely.

Replication steps:
`let g:loaded_prosession = 0` in vimrc. Plugin disabled, as documented.
`let g:loaded_prosession = 1` (default value as documented) in vimrc. Plugin still disabled.
`"let g:loaded_prosession = 1` (commented out)

[2022-05-18 22:19] dragon-architect commented on #95
Relatedly, `g:prosession_on_startup` also doesn't seem to work properly, either. Might be a separate issue but might also be related to this one if the same kind of variable check is being used on both.

[2022-05-19 12:12] dhruvasagar commented on #95
This is by design, it's meant to avoid vim to load the plugin file multiple times but if set by the user it can be used to disable the plugin.

[2022-05-19 12:12] #95 closed

[2022-05-19 12:13] dhruvasagar commented on #95
NOTE: It's not meant for the user.

[2022-05-19 12:13] dhruvasagar commented on #95
@dragon-architect

[2022-05-19 23:56] dragon-architect commented on #95
Oh, so this variable is set internally by prosession when it's first loaded so that it doesn't get loaded repeatedly?

[2022-05-20 04:00] dhruvasagar commented on #95
@dragon-architect yes, and this is typically done by all plugins as a convention.

[2022-05-20 04:01] dhruvasagar commented on #95
@dragon-architect Kindly open a separate issue for `g:prosession_on_startup` and I can take a look

[2022-05-31 15:52] dragon-architect opened #96 "g:prosession_on_startup does not work"
The configuration setting `g:prosession_on_startup` does not work. I have to manually invoke `:Prosession` on every vim start.

Replication steps:
[code]
Vim version info:
[code]
Running on Ubuntu Focal 18.04LTS.

[2022-05-31 15:53] dragon-architect commented on #95
@dhruvasagar Done! Sorry for the delay. I'm terrible at getting around to things, ehe.

[2022-06-02 04:51] dhruvasagar commented on #96
@dragon-architect bump

[2022-07-07 15:11] dhruvasagar commented on #96
@dragon-architect let me know if this is still an issue with more details.

[2022-07-07 15:11] #96 closed

[2022-08-12 08:29] jolars opened #97 "Consider adding a telescope picker"
It would be nice if there was a telescope picker for vim prosession. Something like https://github.com/rmagatti/session-lens or what's implemented in https://github.com/jedrzejboczar/possession.nvim.

[2022-08-13 17:55] jrudess opened #98 "Unique viminfo per session"
Thanks for this plugin -- been using it for quite a long time now.   I typically run a separate instance of vim for every session, from a different repo-root.   One issue I have is that the 'viminfo' file is still shared across all these instances so I often get my command-line and search-histories corrupted with data from a different session.

Similar to the 'undo' file support, could prosession

[2022-08-14 11:04] dhruvasagar commented on #98
@jrudess I will look into this, sounds like a good idea.

[2022-10-14 03:00] #72 closed

[2022-10-20 05:16] #98 closed

[2022-10-20 06:07] #78 closed